.form{
    &_label{
        margin-bottom: 50px !important;
        &-text{
            width: 70%;
            position: 'relative';
            input{
                width: 100% !important;
            }
            .input-error{
                border: 1px solid red !important;
            }
            .error-text {
                color: red;
                font-weight: 600;
                font-size: 14px !important;
                position: absolute !important;
                padding-left: 0 !important;
                width: 100% !important;
            }
        }
    }
}
.form-login-input{
    .input-error{
        margin-bottom: 0 !important;
        border: 1px solid red;
    }
    .error-text {
        color: red;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 20px;
    }
}
.error-text-login{
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}